/*RESET CSS Start*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*RESET CSS End*/

/*Mobile View*/
body {
  background-color: hsl(0, 0%, 81%);
  font-size: 13px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boxes {
  padding: 2rem;
  margin: 1rem;
  border-radius: 16px;
}
h2 {
  color: hsl(0, 0%, 100%);
  padding-bottom: 1rem;
}
h4 {
  color: hsl(0, 0%, 81%);
}
p {
  color: hsl(0, 0%, 81%);
  opacity: 70%;
}
.name p {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
}
.box-1 {
  background-color: hsl(263, 55%, 52%);
  display: flex;
  flex-direction: column;
}
.box-1-contents {
  margin-top: -5rem;
}
.box-2 {
  background-color: hsl(217, 19%, 35%);
}
.box-3 {
  background-color: hsl(0, 0%, 100%);
}
.box-3 h2 {
  color: hsl(219, 29%, 14%);
}
.box-3 .name h4 {
  color: hsl(219, 29%, 14%);
}
.box-3 .name p {
  color: hsl(219, 29%, 14%);
}
.box-3 p {
  color: hsl(219, 29%, 14%);
}
.box-4 {
  background-color: hsl(219, 29%, 14%);
}
.box-5 {
  background-color: hsl(0, 0%, 100%);
}
.box-5 h2 {
  color: hsl(219, 29%, 14%);
}
.box-5 .name h4 {
  color: hsl(219, 29%, 14%);
}
.box-5 .name p {
  color: hsl(219, 29%, 14%);
}
.box-5 p {
  color: hsl(219, 29%, 14%);
}
.profile {
  border-radius: 30px;
  width: 2.5rem;
}
.quotation {
  width: 6rem;
  margin-left: 12rem;
  margin-top: -2rem;
}
.creds {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-left: -1rem;
  margin-top: -1rem;
}
.name {
  padding-left: 1rem;
}
/*Desktop View*/
@media (min-width: 1300px) {
  .flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1440px;
    gap: 10px;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .box-5 {
    grid-column: 3;
    margin-top: -22rem;
    margin-left: -2rem;
    height: 43rem;
    width: 15rem;
  }
  .box-3 {
    grid-column: 1;
    width: 18rem;
    height: 20rem;
  }
  .box-4 {
    width: 40rem;
    grid-column: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: -22rem;
  }
  .box-2 {
    width: 18rem;
    grid-column: 2;
    margin-left: -0.5rem;
  }
  .box-1 {
    width: 40rem;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .quotation {
    margin-left: 25rem;
  }
}
